* {
    margin: 0;
    padding: 0;
}
html, body {
    background-color:black;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top, .middle, .bottom{
    display: flex;
    flex-grow: 1 1 auto;
}
.top{
    flex-direction: column;
    padding: 16px;
}

.round-counter{
    font-size: 60px;
    margin-right: 10vh;
}

.bottom{
    gap: 32px;
    padding: 48px;
    margin-bottom: 5vh;
}

.rps-button{
    color: white;
    background-color: black;
    padding:1em 1.2em;
    font-size: 32px;
    border:0.1em solid #FFFFFF;
    border-radius:0.12em;
    box-sizing:content-box;

}
.div-score-container{
    margin-top: 5vh;
    margin-left: 2vh;
}

